{% assign skillslist = site.data.data.skillslist %}
{% if skillslist %}
<section class="section skillslist-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skillslist.title }}
  </h2>

  {% if skillslist.intro %}
  <div class="intro">
      <p>{{ skillslist.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for category in skillslist.categories %}
    <span class="section-title" style="font-size:1.8rem; margin-left:1rem">{{ category.title }}</span>
    {% for skill in category.skills %}
    
      <ul class="item" style="margin-top:1rem">

        <li class="skill-title">
          {% if skill.link %}
          <a href="{{ skill.link }}" target="_blank">
            {% if skill.fa-icon %}
            <i class="fa-{{ skill.fa-icon }}">{{ skill.title }}</i>
            {% else %}
            {{ skill.title }}
            {% endif %}
          </a>
          {% else %}
            {{ skill.title }}
          {% endif %}
          {% if skill.description %}
            <span style="margin-left:0.5rem;font-style:italic">{{ skill.description }}</span>
          {% endif %}
        </li>
      </ul><!--//item-->
    {% endfor %}
  {% endfor %}

</section><!--//section-->
{% endif %}
